.host-page {
  min-height: 82vh;

  .page-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: rem(26px);
    font-weight: 400;
    letter-spacing: 0.02em;
  }

  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.02em;

    h1 {
      padding-top: 2rem;
      padding-bottom: 1rem;
      font-size: rem(22px);
      font-weight: 400;
      letter-spacing: 0.02em;
    }
  }

  .host-anchor-header {
    z-index: 0;
  }
}