.host-page {
  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.02em;

    h1 {
      padding-top: 2rem;
      font-weight: 400;
      letter-spacing: 0.02em;
      padding-block: 2rem;
      font-size: rem(26px);
    }
  }

  .anchor-header {
    border-bottom-color: transparent;
    transition: border-bottom-color 0.3s;
    &.scrolled {
      border-bottom-color: lightgray;
    }
    .anchor-link {
      margin: 10px;

      .anchor-name {
        position: relative;
        font-weight: 100;
        .notification-circle {
          top: -10px;
          right: -5px;
        }
      }

      &.active {
        .anchor-name {
          font-weight: 500;
        }
      }
    }
  }
}
