.listings {
    .title-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: 0.02em;

        h1 {
            padding-block: 2rem;
            font-size: rem(26px);
            font-weight: 400;
        }
    }

    .listing-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.4em;
        width: 100%;

        .listing-preview {
            display: flex;
            flex: 0 0 200px;
            flex-direction: column;
            font-family: 'Airbnb';
            cursor: pointer;

            img {
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                object-position: center;
                border-radius: 1rem;
            }

            .button {
                margin-top: 6px;
                padding: 0.75rem;
                text-align: center;
                border-radius: 1rem;
                background-color: rgb(236, 235, 235);
                font-size: rem(14px);
                font-weight: 400;
                color: black;
                transition: background-color 0.1s ease;

                &:hover {
                    background-color: lightgray;
                }
            }

            .listing-name {
                padding-block: 5px;
                line-height: 1.2em;
                font-size: rem(16px);
                font-weight: 400;
                overflow: hidden;
            }

            .listing-location {
                padding-bottom: 5px;
                line-height: 1.5em;
                font-size: rem(14px);
                font-weight: 200;
                color: gray;
            }

        }
    }
}