.listings {
  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.02em;

    .button {
      padding: 1rem;
      text-align: center;
      border-radius: 1rem;
      background-color: rgb(236, 235, 235);
      font-size: rem(14px);
      font-weight: 400;
      color: black;
      transition: background-color 0.1s ease;

      &:hover {
        text-decoration: none;
        background-color: lightgray;
      }
    }
  }

  .listing-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4em;
    width: 100%;
  }
}
