.order-index {
  font-size: rem(14px);

  .orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

    th,
    td {
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    td {
      cursor: pointer;
    }

    th {
      font-weight: 400;
      color: #222;
      background-color: #f7f7f7;

      user-select: none;


      &:hover.clickable {
        cursor: pointer;
        background-color: #dedede;
        border-radius: 0.5rem;
        transition: all 0.2s ease;
      }

      select {
        margin-top: 8px;
        font-size: rem(14px);
        padding: 2px;
        border-radius: 0.5rem;
      }
    }

    tr {
      
      
      &.status-canceled {
        color: #717171;
      }

      &.status-approved {
        color: #00a308;
      }

      &.status-pending {
        background-color: #fff8e6;
      }

      &:hover {
        background-color: #f9f9f9;
      }
    }

    // tr:hover {
    // }
  }
}