.trips {
  position: relative;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 2fr;
  column-gap: 1rem;

  .title {
    font-weight: 600;
    line-height: 2.25rem;
    font-size: 2rem;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .trips-side-nav {
    position: sticky;
    top: 130px;
    display: grid;
    gap: rem(36px);
    height: fit-content;
    width: 100%;
    .category-container {
      display: grid;
      gap: 1rem;
      .trip-time-category {
        display: flex;
        align-items: center;
        max-width: 250px;
        border-radius: 1rem;
        padding: 0.5rem;
        gap: 1rem;
        &:hover {
          cursor: pointer;
          background-color: #f2f2f2;
        }
        &.chosen {
          background-color: #f2f2f2;
        }
        .time-category-icon {
          height: 40px;
        }
        span {
          font-weight: 500;
          line-height: 1.25rem;
          font-size: 1rem;
          letter-spacing: normal;
        }
      }
    }
  }
  .trips-list-container {
    display: grid;
    padding-block-start: 30px;
    border-left: 1px solid lightgray;
    padding-inline-start: rem(125px);
    .trips-list {
      min-height: 90vh;
      display: grid;
      width: 100%;
      align-content: start;
      grid-template-columns: repeat(auto-fill, 265px);
      grid-template-rows: auto;
      grid-auto-flow: row;
      gap: 3rem;
      padding-block: rem(36px);
    }
  }
}
