.spacer {
  height: 65px;
  opacity: 0;
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: $clr6;
  transform: translateY(100%);
  transition: transform 0.1s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  p {
    margin: 0;
    font-size: rem(14px);
  }

  span {
    font-size: 0.8em;

    &.local-services {
      color: $clr1;
    }

    &.remote-services {
      color: $clr5;
    }
  }
}
