.app-header {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto;
  align-items: center;
  min-height: 3.5rem;
  background-color: white;
  z-index: 10;

  &.stay-index-header {
    position: sticky;
    top: 0;
  }

  .header-container {
    grid-column: 2;

    .animate__animated.animate__fadeOutUp {
      --animate-duration: 0.25s;
    }

    .header-top {
      width: 100%;
      display: grid;
      //TODO: responsive: under ...px change to auto 1fr 1fr
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: space-between;
      padding-block: 1.5rem;
      overflow: hidden;

      a {
        cursor: default;

        &:hover {
          text-decoration: none;
        }
      }

      .logo-link {
        justify-self: start;

        .logo-container {
          grid-column: 1;
          display: flex;
          align-items: center;
          gap: rem(4px);

          &>* {
            margin: 0;
            cursor: pointer;
          }

          h3 {
            font-size: rem(24px);
            font-weight: 700;
            letter-spacing: -0.05em;
            color: #ff385c;
          }

          .logo {
            width: 38px;
            // height: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
          }
        }
      }

      .homes-title-container {
        grid-column: 2;
        justify-self: center;

        h2 {
          margin: 0;
          font-weight: 500;
          cursor: default;
        }
      }

      .mini-search-bar-container {
        grid-column: 2;
        justify-self: center;
        width: 415px;
        padding-inline: rem(24px);

        .search-bar-mini {
          position: relative;
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: 1fr auto 1fr auto 1.5fr;
          align-items: center;
          height: 48px;
          padding-inline: 1rem;
          background-color: white;
          border: 1px solid lightgrey;
          border-radius: 2em;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
          cursor: pointer;
          transition: box-shadow 0.2s ease;

          &:hover {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          }

          .splitter {
            width: 1px;
            height: 60%;
            background-color: lightgrey;
            justify-self: center;
            align-self: center;
          }

          .mini-display {
            display: flex;
            align-items: center;
            height: 100%;
            padding-inline: 1rem;

            span {
              // height: 100%;
              font-size: rem(14px);
              line-height: 1.2em;
              font-weight: 500;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #222222;
            }
          }

          .search-button {
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 2rem;
            height: 2rem;
            background-color: #ff385c;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;

            svg {
              color: white;
              width: 0.75rem;
              height: 0.75rem;
            }
          }
        }
      }

      nav {
        grid-column: 3;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: end;
        gap: 1em;

        font-size: 0.8em;

        .bnb-your-button {
          padding: 1.1em 1em;
          border-radius: 2em;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }


        a {
          color: #222222;
          font-weight: 500;

          &:hover {
            text-decoration: none;
            cursor: pointer;
          }

          .active {
            color: inherit;
          }
        }

        button {
          margin: 0;
        }

        .user-info {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: start;
          min-width: 86px;
          height: 48px;
          // gap: 1em;
          padding-inline-start: 1.2em;
          background-color: white;
          color: #222;
          border: 1px solid lightgray;
          border-radius: 2em;
          transition: box-shadow 0.3s ease;

          &:hover {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          }

          img {
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
          }
        }
      }
    }
  }
}