.location-picker {
  position: relative;
  .subtitle {
    margin-block-end: 1rem;
  }
  .map {
    justify-self: center;
    height: 50vh;
    min-height: 400px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
  }
  .search-wrapper {
    position: absolute;
    top: 7rem;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    z-index: 1;
    .location-search-label {
      position: relative;
      display: flex;
      justify-content: start;
      width: 70%;
      padding-inline: 3rem;
      padding-block: 1rem;
      background: white;
      border-radius: 2rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

      .reset-btn {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.8rem;
        width: 0.8rem;
        margin: 0;
        padding: 0.5rem;
        font-size: rem(10px);
        background-color: transparent;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        cursor: pointer;
        &:hover {
          background-color: rgb(231, 230, 230);
        }

        svg {
          color: #222;
          width: 0.5rem;
          height: 0.5rem;
        }
      }

      .search-pin-icon {
        position: absolute;
        left: 1rem;
        display: block;
        height: 50px;
        width: 50px;
        fill: currentColor;
      }

      .location-search {
        line-height: 1.5;
        font-size: 1rem;
        margin: 0;
        outline: 0;
        border: 0;
        width: 100%;
        font-weight: 500;
      }
      .search-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        display: grid;
        width: 100%;
        min-width: 200px;
        margin-top: 0.5rem;
        padding: 0;
        list-style: none;
        background: white;
        border-radius: 1.5rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
        z-index: 10;
        overflow: hidden;

        li {
          padding: 1rem 2rem;
          cursor: pointer;

          &:hover {
            background-color: #f6f6f6;
          }
        }
      }
    }
  }
}
