.login-modal {
    right: 50%;
    padding: 2rem;
}

.modal-button {
    translate: 50%;
    color: black;
    width: rem(200px);
    height: rem(60px);
    border-radius: 1rem;
    font-weight: 1000;
    font-size: rem(20px);
}