.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    translate: -50% -50%;
    max-width: 568px;
    border-radius: 32px;
    border-width: 2px;
    border: 1px solid #b0b0b0;
    background-color: #fff;
    box-shadow: 0 8px 28px rgba(0,0,0,0.28);
}

.modal-backdrop {
    position: fixed;
    background-color: $background-with-opacity;
    inset: 0;
    height: 100vh;
    width: 100vw;
    // z-index: 400;
}