.review-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-content: start;
  column-gap: 7rem;
  row-gap: 1.5rem;
  width: 100%;
}
