.stay-filter {
  grid-column: 1/-1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: subgrid;

  position: sticky;
  top: 80px;
  width: 100%;
  align-items: center;
  background-color: #fff;
  z-index: 9;
  transition: margin-block 0.1s ease;

  &.scrolled {
    content: "";
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.2s ease;
  }

  .filters-container {
    grid-column: 2;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    align-items: center;

    .filters-button {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: rem(85px);
      height: rem(45px);
      background-color: white;
      color: #222;
      border-radius: 0.5rem;
      border: 1px solid;
      border-color: #dedede;
      padding: rem(13px) rem(24px);
      margin-left: 1rem;
      margin-inline-start: 24px;
      font-size: rem(12px);
      gap: rem(8px);

      .filters-icon {
        height: 14px;
        aspect-ratio: 1 / 1;
      }
    }
    .arrow-container {
      display: flex;
      position: absolute;
      width: 2em;
      height: 100%;
      z-index: 10;
      background: white;
      align-items: center;

      &.hidden {
        opacity: 0;
        transition: opacity 0.2s ease;
      }

      &.left {
        left: 0;

        &::before {
          content: "";
          pointer-events: none;
          position: absolute;
          left: 2em;
          width: 3em;
          height: 100%;
          z-index: 10;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)
          );
        }
      }

      &.right {
        right: rem(100px);

        &::before {
          content: "";
          pointer-events: none;
          position: absolute;
          right: 2em;
          width: 3em;
          height: 100%;
          z-index: 10;
          background: linear-gradient(
            to left,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)
          );
        }
      }

      .arrow-button {
        position: absolute;
        align-items: center;
        border: 1px solid rgb(0 0 0/0.3);
        background-color: #ffffff;
        padding: 0;
        margin: 0;
        scale: 0.8;
        outline: 0;
        border-radius: 50%;
        z-index: 100;
        width: 3em;
        height: 3em;
        opacity: 1;
        color: black;

        .arrow__icon {
          scale: 1.5;
          position: fixed;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
        }
      }
    }
    .carousel-container {
      ul {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        // margin: 0.5em 0;
        padding: 0;

        > li {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 0;

          .stay-type-button {
            background-color: transparent;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0.7;

            margin: 0;
            margin-inline-end: unset;

            padding: 0;

            gap: 0.5em;

            transition: 0.2s;

            .type-img {
              margin-block-start: 1.2rem;
              width: 2em;
            }

            .type-name {
              text-align: center;
              font-size: 10pt;
              margin-bottom: 0;
              padding-block-end: 1rem;
              border-bottom: 2px solid transparent;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            &:hover p {
              border-bottom-color: gray;
            }

            &.selected p,
            &:disabled {
              cursor: default;

              p {
                border-bottom-color: black;
              }
            }

            &:hover,
            &.selected p {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
