.stay-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Airbnb';
    // FOR TESTING
    // border-width: 1px;
    // border-color: black;
    // border-style: solid;

    >.gallery {
        display: block;
        aspect-ratio: 1;
        margin-bottom: 0.5em;
        
        >img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
            border-radius: 0.7em;
        }
    }

    >.text-container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(3, 1.5em) 1.8em;
        column-gap: 1em;
        grid-auto-flow: column;
        font-size: 15px; // TODO: move somewhere more appropriate. mixin?
        align-items: end;

        .bold-text { // TODO: move somewhere more appropriate. mixin?
            font-weight: bold;
        }

        .normal-text {
            color: grey;
            font-weight: 100;
        }

        img {
            display: inline-block;
            height: 1em;
        }
    }

    // a {
    //     color: $clr4;
    //     padding: 0;
    // }    
    // p {
    // 	margin-block: 0 0.2rem;
    //     font-size: .85em;
    // }
}