.stay-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Airbnb';

    &:hover {
        cursor: pointer;
    }

    .heart-button {
        position: absolute;
        display: block;
        right: rem(15px);
        top: rem(15px);
        fill: rgba(0, 0, 0, 0.5);
        height: rem(24px);
        width: rem(24px);
        stroke: white;
        stroke-width: 2;
        overflow: visible;

        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.08);
        }
    }

    >.text-container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(3, 1.5em) 1.8em;
        column-gap: 1em;
        grid-auto-flow: column;
        font-size: rem(15px); // TODO: move somewhere more appropriate. mixin?
        align-items: end;

        .bold-text {
            // TODO: move somewhere more appropriate. mixin?
            font-weight: bold;
        }

        .normal-text {
            color: grey;
            font-weight: 100;
        }

        .star-image {
            display: inline-block;
            height: rem(12px);
        }
    }
}