.stay-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 1.4em;

    // li {
    //     display: grid;
    //     grid-template-columns: max-content auto;
    //     padding: .5em;
    //     background-color: $clr2;

    //     color: $clr6;

    //     .actions {
    //         justify-self: end;

    //         button {
    //             padding: .3em .5em;
    //         }
    //     }
    // }
}