.stay-photo-gallery {
  display: block;
  margin-bottom: 0.5em;

  .carousel-list {
    border-radius: 0.7em;
  }

  .carousel-item {
    aspect-ratio: 1;
  }

  .react-multi-carousel-dot-list {
    bottom: rem(7px);
  }

  .react-multi-carousel-dot {
    button {
      border-width: 0px;
      opacity: 0.5;
      margin: rem(2.2px);
      width: rem(6px);
      height: rem(6px);
      background: white;
    }

    // &.react-multi-carousel-dot--active button {
    //   opacity: 1;
    // }
  }

  .react-multiple-carousel__arrow {
    z-index: 2;
    opacity: 0;
    transition-duration: 250ms;
    filter: invert(1);
    background: rgba(0, 0, 0, 1);
    border-color: black;
    min-width: 2.2rem;
    min-height: 2.2rem;
    border: 3px solid rgba(0, 0, 0, 0.3);
    
    &::before {
      font-size: 0.8rem;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }

  &:hover {
    .react-multiple-carousel__arrow {
      opacity: 1;
    }
  }
}