.stay-preview {

    // FOR TESTING
    border-width: 1px;
    border-color: black;
    border-style: solid;

    >.gallery {
        display: block;
    }

    >.text-container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(4, 1.5em);
        column-gap: 1em;
        grid-auto-flow: column;

        // FOR TESTING
        border-width: 1px;
        border-color: black;
        border-style: solid;

        img {
            display: inline-block;
            height: 1em;
        }
    }

    // a {
    //     color: $clr4;
    //     padding: 0;
    // }    
    // p {
    // 	margin-block: 0 0.2rem;
    //     font-size: .85em;
    // }
}